{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      <!-- post tweet form! -->
      {% if showForm %}
        <form class = "input-group" action="/tweets" method="POST">
        <div class = "col-md-3">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" class = "form-control" value={{name}} />
        </div>
        <div class = "col-md-9">
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" class = "form-control" />
            <input class = "btn btn-success" type="submit" value="Submit" />
          </div>
        </form>
      {% endif %}

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li>
            <div class ="tweetbox">
                <img><strong><a href = "/users/{{tweet.name}}">{{tweet.name}}</a></strong><br>
            <a href="/tweets/{{tweet.id}}">{{tweet.content}}</a>
            </div>
        </li>
      {% endfor %}

    </div>
  </div>

{% endblock %}

